
.row.q-col-gutter-xl {
  margin-left: -36px;
  margin-top: -36px;
}
.q-col-gutter-xl>* {
  padding-left: 36px;
  padding-top: 36px;
}
.module-card {
  text-align: center;
  border-radius: 8px;
}
.module-card .q-img {
  margin-bottom: 8px;
}
.module-card a {
  color: #111827;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  --primary: #001f6d;
}
.home-menu-card {
  border: 3px solid var(--q-primary);
}