:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  --primary: #001f6d;
}
.q-table td {
  vertical-align: top;
  padding: 16px;
}
td:nth-child(6) {
  max-width: 221px;
}
th:nth-child(1) {
  padding-right: 10%;
}
th:nth-child(3) {
  max-width: 125px;
}