
.q-table td {
  vertical-align: middle;
}
.q-table td:nth-child(5) {
  font-size: 14px;
  width: 185px;
  padding: 10px;
  box-sizing: border-box;
}
.q-table tr:nth-child(even) {
  background-color: #f3f4f6;
  /* Color de fondo para filas pares */
}

.form-section {
  margin-bottom: 3rem;
}
.page-title {
  line-height: 1.3em;
  margin-bottom: 2rem;
}
.subtitle {
  color: #000;
  font-weight: 500;
  font-size: 18px;
}
