
.q-table th[data-v-b2d4e9e5] {
  font-size: 16px;
  font-weight: 700;
  color: #374151;
  vertical-align: top;
  padding: 16px;
  white-space: break-spaces;
}
.q-table thead[data-v-b2d4e9e5] {
  background: #e5e7eb;
}
.q-table tbody td[data-v-b2d4e9e5] {
  font-size: 16px;
}
.q-btn--dense .q-icon[data-v-b2d4e9e5] {
  font-size: 20px;
}
.q-table td[data-v-b2d4e9e5] {
  vertical-align: top;
  padding: 16px;
}
td[data-v-b2d4e9e5]:nth-child(6) {
  max-width: 221px;
}
th[data-v-b2d4e9e5]:nth-child(1) {
  padding-right: 10%;
}
th[data-v-b2d4e9e5]:nth-child(3) {
  max-width: 125px;
}
