
.q-gutter-y-xl {
  margin-top: initial;
}
.q-gutter-y-xl> :first-child {
  margin-top: 0;
}

.impact-btn {
  font-weight: 700;
  font-size: 25px;
  color: #001f6d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 65px;
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
}
.impact-btn--active {
  border: 3px dashed #001f6d;
}

label[data-v-48f1757d] {
  font-weight: 700;
  font-size: 16px;
  color: #111827;
  margin-right: 0.5rem;
  display: block;
  transform: none;
}
.spl-list[data-v-48f1757d] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.q-table td[data-v-48f1757d],
.q-table th[data-v-48f1757d] {
  width: 90px;
}
.q-table td[data-v-48f1757d]:first-child {
  padding: 24px 33px !important;
  max-width: 177px;
}
.q-table th[data-v-48f1757d]:nth-child(1) {
  padding: 24px 33px !important;
  max-width: 177px;
}
