
.title[data-v-f38d071e] {
  color: #001f6d;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3rem;
  letter-spacing: 0;
}
.full-width[data-v-f38d071e] {
  width: 100%;
}
.login-form-column>div[data-v-f38d071e] {
  flex: 1 1 auto;
}
.login-brand-column[data-v-f38d071e] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(30vh) !important;
  background: radial-gradient(rgb(1, 119, 193), rgba(0, 43, 106));
}
.login-brand-column img[data-v-f38d071e] {
  height: 75%;
}
@media (min-width: 1024px) {
.login-row[data-v-f38d071e] {
    height: 100vh;
}
.login-form-column {
&[data-v-f38d071e] {
    order: 1;
    padding-left: 100px;
    }
>div[data-v-f38d071e] {
      max-width: 370px;
}
}
.row .login-brand-column[data-v-f38d071e] {
    order: 2;
    height: 100% !important;
}
.row .login-brand-column img[data-v-f38d071e] {
    height: auto;
}
}
