
.q-field--kardex .q-field__prepend {
  pointer-events: none !important;
}
td:first-child {
  max-width: 150px;
}
.page-subtitle {
  color: #202020;
  font-size: 24px;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
}
.kardex--required label::after {
  content: ' *';
  color: red;
}
