
.q-field--auto-height .q-field__control {
  min-height: auto !important;
  height: 40px !important;
}
.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: initial !important;
}
