:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  --primary: #001f6d;
}
.login-form-column > div {
  flex: 1 1 auto;
}
.login-brand-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh !important;
  background: radial-gradient(rgb(1, 119, 193), rgb(0, 43, 106));
}
.login-brand-column img {
  height: 75%;
}
.title {
  color: #001f6d;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3rem;
  letter-spacing: 0;
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3rem;
  color: #111827;
}
a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(0, 31, 109);
}
.employee-number-input .q-field__control,
.employee-number-input .q-field__native {
  height: 70px !important;
  font-size: 2rem;
}
.access-captura-link {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
.login-row {
    height: 100vh;
}
.login-form-column {
    order: 1;
    padding-left: 100px;
}
.login-form-column > div {
    max-width: 370px;
}
.row .login-brand-column {
    order: 2;
    height: 100% !important;
}
.row .login-brand-column img {
    height: auto;
}
}