.login-form-column > div {
  flex: 1 1 auto;
}
.login-brand-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh !important;
  background: radial-gradient(rgb(1, 119, 193), rgb(0, 43, 106));
}
.login-brand-column img {
  height: 75%;
}
.title {
  color: #001f6d;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3rem;
  letter-spacing: 0;
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3rem;
  color: #111827;
}
a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(0, 31, 109);
}
.q-checkbox__inner {
  width: 32px !important;
  min-width: 32px;
  height: 32px !important;
}
@media (min-width: 1024px) {
.login-row {
    height: 100vh;
}
.login-form-column {
    order: 1;
    padding-left: 100px;
}
.login-form-column > div {
    max-width: 370px;
}
.row .login-brand-column {
    order: 2;
    height: 100% !important;
}
.row .login-brand-column img {
    height: auto;
}
}