
label[data-v-63d7fae3] {
  font-weight: 700;
  font-size: 16px;
  color: #111827;
  margin-right: 0.5rem;
  display: block;
  transform: none;
}
.impact-btn[data-v-63d7fae3] {
  font-weight: 700;
  font-size: 25px;
  color: #001f6d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 65px;
  border: 1px solid grey;
  border-radius: 8px;
}
.spl-list[data-v-63d7fae3] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.q-table td[data-v-63d7fae3],
.q-table th[data-v-63d7fae3] {
  width: 90px;
}
.q-table td[data-v-63d7fae3]:first-child {
  padding: 24px 33px !important;
  max-width: 177px;
}
.q-table th[data-v-63d7fae3]:nth-child(1) {
  padding: 24px 33px !important;
  max-width: 177px;
}
