:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
}
.receipt-form .q-field--labeled .q-field__label {
  font-size: 13px;
  top: -8px !important;
  left: -6px;
  z-index: 1000;
  padding: 0 4px;
  background: #fff;
}
.receipt-form .q-field--labeled .q-field--auto-height .q-field__native {
  padding-top: 8px !important;
}
.receipt-form .q-field--labeled .q-field__native {
  color: rgba(0, 0, 0, 0.6);
}
.form-section-label {
  color: var(--q-primary);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.address-form {
  display: flex;
  flex-wrap: wrap;
}
.address-form > .q-field {
  width: 31%;
  margin-right: 16px;
  margin-bottom: 16px;
}
.address-form > .q-field::nth-child(3) {
  margin-right: 0;
}
.address-form > .q-field:last-child {
  margin-right: 0;
}
.address-form .q-field:nth-child(3),
.address-form .q-field:nth-child(6) {
  margin-right: 0 !important;
}:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
}
.label::after {
  content: "*";
  color: #dc3545;
  margin-left: 1px;
}
.split-form .form-row {
  display: table-row;
}
.split-form .form-row > * {
  padding: 0.5rem 0;
  display: table-cell;
  width: 50%;
}
.split-form .form-row > *:last-child {
  text-align: right;
}