:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
}
.td--name {
  max-width: 560px;
  white-space: pre-wrap !important;
}
.td--measurement-unit {
  max-width: 100px;
  white-space: wrap;
  overflow: hidden;
}
.program-activities--empty {
  border: 2px #001f6d dashed !important;
  text-align: center !important;
  padding: 13px 16px !important;
}