
.comment-card {
  width: 600px;
  max-width: 90%;
}
.comment-textarea .q-field__native {
  min-height: 120px;
  line-height: 1.5rem;
}
.subtitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #111827;
}
