@charset "UTF-8";
:root {
  --grey-50: #f3f4f6;
  --grey-100: #f4f5f7;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;
  --primary: #001f6d;
}
.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  /* Evita que palabras largas rompan el layout */
  max-width: 240px;
}